<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Glitch!</title>
     <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
     <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>Ably Promises API demo with client side auth.</h1>
    </header>

    <main>
      <h2>Send me a colour!</h2>
        <button id="red" class="color red">red</button>
        <button id="orange" class="color orange">orange</button>
        <button id="yellow" class="color yellow">yellow</button>
        <button id="green" class="color green">green</button>
        <button id="green" class="color turquoise">turquoise</button>
        <button id="blue" class="color blue">blue</button>
        <button id="purple" class="color purple">purple</button>
        <button id="pink" class="color pink">pink</button>
        <button id="white" class="color white">white</button>
    </main>
    <svg id="array" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 570 570">
      <rect id="square001" onclick="send()" class="square" width="30" height="30"/>
      <rect id="square002" onclick="send()" class="square" x="36" width="30" height="30"/>
      <rect id="square003" onclick="send()" class="square" x="72" width="30" height="30"/>
      <rect id="square004" onclick="send()" class="square" x="108" width="30" height="30"/>
      <rect id="square005" onclick="send()" class="square" x="144" width="30" height="30"/>
      <rect id="square006" onclick="send()" class="square" x="180" width="30" height="30"/>
      <rect id="square007" onclick="send()" class="square" x="216" width="30" height="30"/>
      <rect id="square008" onclick="send()" class="square" x="252" width="30" height="30"/>
      <rect id="square009" onclick="send()" class="square" x="288" width="30" height="30"/>
      <rect id="square010" onclick="send()" class="square" x="324" width="30" height="30"/>
      <rect id="square011" onclick="send()" class="square" x="360" width="30" height="30"/>
      <rect id="square012" onclick="send()" class="square" x="396" width="30" height="30"/>
      <rect id="square013" onclick="send()" class="square" x="432" width="30" height="30"/>
      <rect id="square014" onclick="send()" class="square" x="468" width="30" height="30"/>
      <rect id="square015" onclick="send()" class="square" x="504" width="30" height="30"/>
      <rect id="square016" onclick="send()" class="square" x="540" width="30" height="30"/>
      <rect id="square017" onclick="send()" class="square" y="36" width="30" height="30"/>
      <rect id="square018" onclick="send()" class="square" x="36" y="36" width="30" height="30"/>
      <rect id="square019" onclick="send()" class="square" x="72" y="36" width="30" height="30"/>
      <rect id="square020" onclick="send()" class="square" x="108" y="36" width="30" height="30"/>
      <rect id="square021" onclick="send()" class="square" x="144" y="36" width="30" height="30"/>
      <rect id="square022" onclick="send()" class="square" x="180" y="36" width="30" height="30"/>
      <rect id="square023" onclick="send()" class="square" x="216" y="36" width="30" height="30"/>
      <rect id="square024" onclick="send()" class="square" x="252" y="36" width="30" height="30"/>
      <rect id="square025" onclick="send()" class="square" x="288" y="36" width="30" height="30"/>
      <rect id="square026" onclick="send()" class="square" x="324" y="36" width="30" height="30"/>
      <rect id="square027" onclick="send()" class="square" x="360" y="36" width="30" height="30"/>
      <rect id="square028" onclick="send()" class="square" x="396" y="36" width="30" height="30"/>
      <rect id="square029" onclick="send()" class="square" x="432" y="36" width="30" height="30"/>
      <rect id="square030" onclick="send()" class="square" x="468" y="36" width="30" height="30"/>
      <rect id="square031" onclick="send()" class="square" x="504" y="36" width="30" height="30"/>
      <rect id="square032" onclick="send()" class="square" x="540" y="36" width="30" height="30"/>
      <rect id="square033" onclick="send()" class="square" y="72" width="30" height="30"/>
      <rect id="square034" onclick="send()" class="square" x="36" y="72" width="30" height="30"/>
      <rect id="square035" onclick="send()" class="square" x="72" y="72" width="30" height="30"/>
      <rect id="square036" onclick="send()" class="square" x="108" y="72" width="30" height="30"/>
      <rect id="square037" onclick="send()" class="square" x="144" y="72" width="30" height="30"/>
      <rect id="square038" onclick="send()" class="square" x="180" y="72" width="30" height="30"/>
      <rect id="square039" onclick="send()" class="square" x="216" y="72" width="30" height="30"/>
      <rect id="square040" onclick="send()" class="square" x="252" y="72" width="30" height="30"/>
      <rect id="square041" onclick="send()" class="square" x="288" y="72" width="30" height="30"/>
      <rect id="square042" onclick="send()" class="square" x="324" y="72" width="30" height="30"/>
      <rect id="square043" onclick="send()" class="square" x="360" y="72" width="30" height="30"/>
      <rect id="square044" onclick="send()" class="square" x="396" y="72" width="30" height="30"/>
      <rect id="square045" onclick="send()" class="square" x="432" y="72" width="30" height="30"/>
      <rect id="square046" onclick="send()" class="square" x="468" y="72" width="30" height="30"/>
      <rect id="square047" onclick="send()" class="square" x="504" y="72" width="30" height="30"/>
      <rect id="square048" onclick="send()" class="square" x="540" y="72" width="30" height="30"/>
      <rect id="square049" onclick="send()" class="square" y="108" width="30" height="30"/>
      <rect id="square050" onclick="send()" class="square" x="36" y="108" width="30" height="30"/>
      <rect id="square051" onclick="send()" class="square" x="72" y="108" width="30" height="30"/>
      <rect id="square052" onclick="send()" class="square" x="108" y="108" width="30" height="30"/>
      <rect id="square053" onclick="send()" class="square" x="144" y="108" width="30" height="30"/>
      <rect id="square054" onclick="send()" class="square" x="180" y="108" width="30" height="30"/>
      <rect id="square055" onclick="send()" class="square" x="216" y="108" width="30" height="30"/>
      <rect id="square056" onclick="send()" class="square" x="252" y="108" width="30" height="30"/>
      <rect id="square057" onclick="send()" class="square" x="288" y="108" width="30" height="30"/>
      <rect id="square058" onclick="send()" class="square" x="324" y="108" width="30" height="30"/>
      <rect id="square059" onclick="send()" class="square" x="360" y="108" width="30" height="30"/>
      <rect id="square060" onclick="send()" class="square" x="396" y="108" width="30" height="30"/>
      <rect id="square061" onclick="send()" class="square" x="432" y="108" width="30" height="30"/>
      <rect id="square062" onclick="send()" class="square" x="468" y="108" width="30" height="30"/>
      <rect id="square063" onclick="send()" class="square" x="504" y="108" width="30" height="30"/>
      <rect id="square064" onclick="send()" class="square" x="540" y="108" width="30" height="30"/>
      <rect id="square065" onclick="send()" class="square" y="144" width="30" height="30"/>
      <rect id="square066" onclick="send()" class="square" x="36" y="144" width="30" height="30"/>
      <rect id="square067" onclick="send()" class="square" x="72" y="144" width="30" height="30"/>
      <rect id="square068" onclick="send()" class="square" x="108" y="144" width="30" height="30"/>
      <rect id="square069" onclick="send()" class="square" x="144" y="144" width="30" height="30"/>
      <rect id="square070" onclick="send()" class="square" x="180" y="144" width="30" height="30"/>
      <rect id="square071" onclick="send()" class="square" x="216" y="144" width="30" height="30"/>
      <rect id="square072" onclick="send()" class="square" x="252" y="144" width="30" height="30"/>
      <rect id="square073" onclick="send()" class="square" x="288" y="144" width="30" height="30"/>
      <rect id="square074" onclick="send()" class="square" x="324" y="144" width="30" height="30"/>
      <rect id="square075" onclick="send()" class="square" x="360" y="144" width="30" height="30"/>
      <rect id="square076" onclick="send()" class="square" x="396" y="144" width="30" height="30"/>
      <rect id="square077" onclick="send()" class="square" x="432" y="144" width="30" height="30"/>
      <rect id="square078" onclick="send()" class="square" x="468" y="144" width="30" height="30"/>
      <rect id="square079" onclick="send()" class="square" x="504" y="144" width="30" height="30"/>
      <rect id="square080" onclick="send()" class="square" x="540" y="144" width="30" height="30"/>
      <rect id="square081" onclick="send()" class="square" y="180" width="30" height="30"/>
      <rect id="square082" onclick="send()" class="square" x="36" y="180" width="30" height="30"/>
      <rect id="square083" onclick="send()" class="square" x="72" y="180" width="30" height="30"/>
      <rect id="square084" onclick="send()" class="square" x="108" y="180" width="30" height="30"/>
      <rect id="square085" onclick="send()" class="square" x="144" y="180" width="30" height="30"/>
      <rect id="square086" onclick="send()" class="square" x="180" y="180" width="30" height="30"/>
      <rect id="square087" onclick="send()" class="square" x="216" y="180" width="30" height="30"/>
      <rect id="square088" onclick="send()" class="square" x="252" y="180" width="30" height="30"/>
      <rect id="square089" onclick="send()" class="square" x="288" y="180" width="30" height="30"/>
      <rect id="square090" onclick="send()" class="square" x="324" y="180" width="30" height="30"/>
      <rect id="square091" onclick="send()" class="square" x="360" y="180" width="30" height="30"/>
      <rect id="square092" onclick="send()" class="square" x="396" y="180" width="30" height="30"/>
      <rect id="square093" onclick="send()" class="square" x="432" y="180" width="30" height="30"/>
      <rect id="square094" onclick="send()" class="square" x="468" y="180" width="30" height="30"/>
      <rect id="square095" onclick="send()" class="square" x="504" y="180" width="30" height="30"/>
      <rect id="square096" onclick="send()" class="square" x="540" y="180" width="30" height="30"/>
      <rect id="square097" onclick="send()" class="square" y="216" width="30" height="30"/>
      <rect id="square098" onclick="send()" class="square" x="36" y="216" width="30" height="30"/>
      <rect id="square099" onclick="send()" class="square" x="72" y="216" width="30" height="30"/>
      <rect id="square100" onclick="send()" class="square" x="108" y="216" width="30" height="30"/>
      <rect id="square101" onclick="send()" class="square" x="144" y="216" width="30" height="30"/>
      <rect id="square102" onclick="send()" class="square" x="180" y="216" width="30" height="30"/>
      <rect id="square103" onclick="send()" class="square" x="216" y="216" width="30" height="30"/>
      <rect id="square104" onclick="send()" class="square" x="252" y="216" width="30" height="30"/>
      <rect id="square105" onclick="send()" class="square" x="288" y="216" width="30" height="30"/>
      <rect id="square106" onclick="send()" class="square" x="324" y="216" width="30" height="30"/>
      <rect id="square107" onclick="send()" class="square" x="360" y="216" width="30" height="30"/>
      <rect id="square108" onclick="send()" class="square" x="396" y="216" width="30" height="30"/>
      <rect id="square109" onclick="send()" class="square" x="432" y="216" width="30" height="30"/>
      <rect id="square110" onclick="send()" class="square" x="468" y="216" width="30" height="30"/>
      <rect id="square111" onclick="send()" class="square" x="504" y="216" width="30" height="30"/>
      <rect id="square112" onclick="send()" class="square" x="540" y="216" width="30" height="30"/>
      <rect id="square113" onclick="send()" class="square" y="252" width="30" height="30"/>
      <rect id="square114" onclick="send()" class="square" x="36" y="252" width="30" height="30"/>
      <rect id="square115" onclick="send()" class="square" x="72" y="252" width="30" height="30"/>
      <rect id="square116" onclick="send()" class="square" x="108" y="252" width="30" height="30"/>
      <rect id="square117" onclick="send()" class="square" x="144" y="252" width="30" height="30"/>
      <rect id="square118" onclick="send()" class="square" x="180" y="252" width="30" height="30"/>
      <rect id="square119" onclick="send()" class="square" x="216" y="252" width="30" height="30"/>
      <rect id="square120" onclick="send()" class="square" x="252" y="252" width="30" height="30"/>
      <rect id="square121" onclick="send()" class="square" x="288" y="252" width="30" height="30"/>
      <rect id="square122" onclick="send()" class="square" x="324" y="252" width="30" height="30"/>
      <rect id="square123" onclick="send()" class="square" x="360" y="252" width="30" height="30"/>
      <rect id="square124" onclick="send()" class="square" x="396" y="252" width="30" height="30"/>
      <rect id="square125" onclick="send()" class="square" x="432" y="252" width="30" height="30"/>
      <rect id="square126" onclick="send()" class="square" x="468" y="252" width="30" height="30"/>
      <rect id="square127" onclick="send()" class="square" x="504" y="252" width="30" height="30"/>
      <rect id="square128" onclick="send()" class="square" x="540" y="252" width="30" height="30"/>
      <rect id="square129" onclick="send()" class="square" y="288" width="30" height="30"/>
      <rect id="square130" onclick="send()" class="square" x="36" y="288" width="30" height="30"/>
      <rect id="square131" onclick="send()" class="square" x="72" y="288" width="30" height="30"/>
      <rect id="square132" onclick="send()" class="square" x="108" y="288" width="30" height="30"/>
      <rect id="square133" onclick="send()" class="square" x="144" y="288" width="30" height="30"/>
      <rect id="square134" onclick="send()" class="square" x="180" y="288" width="30" height="30"/>
      <rect id="square135" onclick="send()" class="square" x="216" y="288" width="30" height="30"/>
      <rect id="square136" onclick="send()" class="square" x="252" y="288" width="30" height="30"/>
      <rect id="square137" onclick="send()" class="square" x="288" y="288" width="30" height="30"/>
      <rect id="square138" onclick="send()" class="square" x="324" y="288" width="30" height="30"/>
      <rect id="square139" onclick="send()" class="square" x="360" y="288" width="30" height="30"/>
      <rect id="square140" onclick="send()" class="square" x="396" y="288" width="30" height="30"/>
      <rect id="square141" onclick="send()" class="square" x="432" y="288" width="30" height="30"/>
      <rect id="square142" onclick="send()" class="square" x="468" y="288" width="30" height="30"/>
      <rect id="square143" onclick="send()" class="square" x="504" y="288" width="30" height="30"/>
      <rect id="square144" onclick="send()" class="square" x="540" y="288" width="30" height="30"/>
      <rect id="square145" onclick="send()" class="square" y="324" width="30" height="30"/>
      <rect id="square146" onclick="send()" class="square" x="36" y="324" width="30" height="30"/>
      <rect id="square147" onclick="send()" class="square" x="72" y="324" width="30" height="30"/>
      <rect id="square148" onclick="send()" class="square" x="108" y="324" width="30" height="30"/>
      <rect id="square149" onclick="send()" class="square" x="144" y="324" width="30" height="30"/>
      <rect id="square150" onclick="send()" class="square" x="180" y="324" width="30" height="30"/>
      <rect id="square151" onclick="send()" class="square" x="216" y="324" width="30" height="30"/>
      <rect id="square152" onclick="send()" class="square" x="252" y="324" width="30" height="30"/>
      <rect id="square153" onclick="send()" class="square" x="288" y="324" width="30" height="30"/>
      <rect id="square154" onclick="send()" class="square" x="324" y="324" width="30" height="30"/>
      <rect id="square155" onclick="send()" class="square" x="360" y="324" width="30" height="30"/>
      <rect id="square156" onclick="send()" class="square" x="396" y="324" width="30" height="30"/>
      <rect id="square157" onclick="send()" class="square" x="432" y="324" width="30" height="30"/>
      <rect id="square158" onclick="send()" class="square" x="468" y="324" width="30" height="30"/>
      <rect id="square159" onclick="send()" class="square" x="504" y="324" width="30" height="30"/>
      <rect id="square160" onclick="send()" class="square" x="540" y="324" width="30" height="30"/>
      <rect id="square161" onclick="send()" class="square" y="360" width="30" height="30"/>
      <rect id="square162" onclick="send()" class="square" x="36" y="360" width="30" height="30"/>
      <rect id="square163" onclick="send()" class="square" x="72" y="360" width="30" height="30"/>
      <rect id="square164" onclick="send()" class="square" x="108" y="360" width="30" height="30"/>
      <rect id="square165" onclick="send()" class="square" x="144" y="360" width="30" height="30"/>
      <rect id="square166" onclick="send()" class="square" x="180" y="360" width="30" height="30"/>
      <rect id="square167" onclick="send()" class="square" x="216" y="360" width="30" height="30"/>
      <rect id="square168" onclick="send()" class="square" x="252" y="360" width="30" height="30"/>
      <rect id="square169" onclick="send()" class="square" x="288" y="360" width="30" height="30"/>
      <rect id="square170" onclick="send()" class="square" x="324" y="360" width="30" height="30"/>
      <rect id="square171" onclick="send()" class="square" x="360" y="360" width="30" height="30"/>
      <rect id="square172" onclick="send()" class="square" x="396" y="360" width="30" height="30"/>
      <rect id="square173" onclick="send()" class="square" x="432" y="360" width="30" height="30"/>
      <rect id="square174" onclick="send()" class="square" x="468" y="360" width="30" height="30"/>
      <rect id="square175" onclick="send()" class="square" x="504" y="360" width="30" height="30"/>
      <rect id="square176" onclick="send()" class="square" x="540" y="360" width="30" height="30"/>
      <rect id="square177" onclick="send()" class="square" y="396" width="30" height="30"/>
      <rect id="square178" onclick="send()" class="square" x="36" y="396" width="30" height="30"/>
      <rect id="square179" onclick="send()" class="square" x="72" y="396" width="30" height="30"/>
      <rect id="square180" onclick="send()" class="square" x="108" y="396" width="30" height="30"/>
      <rect id="square181" onclick="send()" class="square" x="144" y="396" width="30" height="30"/>
      <rect id="square182" onclick="send()" class="square" x="180" y="396" width="30" height="30"/>
      <rect id="square183" onclick="send()" class="square" x="216" y="396" width="30" height="30"/>
      <rect id="square184" onclick="send()" class="square" x="252" y="396" width="30" height="30"/>
      <rect id="square185" onclick="send()" class="square" x="288" y="396" width="30" height="30"/>
      <rect id="square186" onclick="send()" class="square" x="324" y="396" width="30" height="30"/>
      <rect id="square187" onclick="send()" class="square" x="360" y="396" width="30" height="30"/>
      <rect id="square188" onclick="send()" class="square" x="396" y="396" width="30" height="30"/>
      <rect id="square189" onclick="send()" class="square" x="432" y="396" width="30" height="30"/>
      <rect id="square190" onclick="send()" class="square" x="468" y="396" width="30" height="30"/>
      <rect id="square191" onclick="send()" class="square" x="504" y="396" width="30" height="30"/>
      <rect id="square192" onclick="send()" class="square" x="540" y="396" width="30" height="30"/>
      <rect id="square193" onclick="send()" class="square" y="432" width="30" height="30"/>
      <rect id="square194" onclick="send()" class="square" x="36" y="432" width="30" height="30"/>
      <rect id="square195" onclick="send()" class="square" x="72" y="432" width="30" height="30"/>
      <rect id="square196" onclick="send()" class="square" x="108" y="432" width="30" height="30"/>
      <rect id="square197" onclick="send()" class="square" x="144" y="432" width="30" height="30"/>
      <rect id="square198" onclick="send()" class="square" x="180" y="432" width="30" height="30"/>
      <rect id="square199" onclick="send()" class="square" x="216" y="432" width="30" height="30"/>
      <rect id="square200" onclick="send()" class="square" x="252" y="432" width="30" height="30"/>
      <rect id="square201" onclick="send()" class="square" x="288" y="432" width="30" height="30"/>
      <rect id="square202" onclick="send()" class="square" x="324" y="432" width="30" height="30"/>
      <rect id="square203" onclick="send()" class="square" x="360" y="432" width="30" height="30"/>
      <rect id="square204" onclick="send()" class="square" x="396" y="432" width="30" height="30"/>
      <rect id="square205" onclick="send()" class="square" x="432" y="432" width="30" height="30"/>
      <rect id="square206" onclick="send()" class="square" x="468" y="432" width="30" height="30"/>
      <rect id="square207" onclick="send()" class="square" x="504" y="432" width="30" height="30"/>
      <rect id="square208" onclick="send()" class="square" x="540" y="432" width="30" height="30"/>
      <rect id="square209" onclick="send()" class="square" y="468" width="30" height="30"/>
      <rect id="square210" onclick="send()" class="square" x="36" y="468" width="30" height="30"/>
      <rect id="square211" onclick="send()" class="square" x="72" y="468" width="30" height="30"/>
      <rect id="square212" onclick="send()" class="square" x="108" y="468" width="30" height="30"/>
      <rect id="square213" onclick="send()" class="square" x="144" y="468" width="30" height="30"/>
      <rect id="square214" onclick="send()" class="square" x="180" y="468" width="30" height="30"/>
      <rect id="square215" onclick="send()" class="square" x="216" y="468" width="30" height="30"/>
      <rect id="square216" onclick="send()" class="square" x="252" y="468" width="30" height="30"/>
      <rect id="square217" onclick="send()" class="square" x="288" y="468" width="30" height="30"/>
      <rect id="square218" onclick="send()" class="square" x="324" y="468" width="30" height="30"/>
      <rect id="square219" onclick="send()" class="square" x="360" y="468" width="30" height="30"/>
      <rect id="square220" onclick="send()" class="square" x="396" y="468" width="30" height="30"/>
      <rect id="square221" onclick="send()" class="square" x="432" y="468" width="30" height="30"/>
      <rect id="square222" onclick="send()" class="square" x="468" y="468" width="30" height="30"/>
      <rect id="square223" onclick="send()" class="square" x="504" y="468" width="30" height="30"/>
      <rect id="square224" onclick="send()" class="square" x="540" y="468" width="30" height="30"/>
      <rect id="square225" onclick="send()" class="square" y="504" width="30" height="30"/>
      <rect id="square226" onclick="send()" class="square" x="36" y="504" width="30" height="30"/>
      <rect id="square227" onclick="send()" class="square" x="72" y="504" width="30" height="30"/>
      <rect id="square228" onclick="send()" class="square" x="108" y="504" width="30" height="30"/>
      <rect id="square229" onclick="send()" class="square" x="144" y="504" width="30" height="30"/>
      <rect id="square230" onclick="send()" class="square" x="180" y="504" width="30" height="30"/>
      <rect id="square231" onclick="send()" class="square" x="216" y="504" width="30" height="30"/>
      <rect id="square232" onclick="send()" class="square" x="252" y="504" width="30" height="30"/>
      <rect id="square233" onclick="send()" class="square" x="288" y="504" width="30" height="30"/>
      <rect id="square234" onclick="send()" class="square" x="324" y="504" width="30" height="30"/>
      <rect id="square235" onclick="send()" class="square" x="360" y="504" width="30" height="30"/>
      <rect id="square236" onclick="send()" class="square" x="396" y="504" width="30" height="30"/>
      <rect id="square237" onclick="send()" class="square" x="432" y="504" width="30" height="30"/>
      <rect id="square238" onclick="send()" class="square" x="468" y="504" width="30" height="30"/>
      <rect id="square239" onclick="send()" class="square" x="504" y="504" width="30" height="30"/>
      <rect id="square240" onclick="send()" class="square" x="540" y="504" width="30" height="30"/>
      <rect id="square241" onclick="send()" class="square" y="540" width="30" height="30"/>
      <rect id="square242" onclick="send()" class="square" x="36" y="540" width="30" height="30"/>
      <rect id="square243" onclick="send()" class="square" x="72" y="540" width="30" height="30"/>
      <rect id="square244" onclick="send()" class="square" x="108" y="540" width="30" height="30"/>
      <rect id="square245" onclick="send()" class="square" x="144" y="540" width="30" height="30"/>
      <rect id="square246" onclick="send()" class="square" x="180" y="540" width="30" height="30"/>
      <rect id="square247" onclick="send()" class="square" x="216" y="540" width="30" height="30"/>
      <rect id="square248" onclick="send()" class="square" x="252" y="540" width="30" height="30"/>
      <rect id="square249" onclick="send()" class="square" x="288" y="540" width="30" height="30"/>
      <rect id="square250" onclick="send()" class="square" x="324" y="540" width="30" height="30"/>
      <rect id="square251" onclick="send()" class="square" x="360" y="540" width="30" height="30"/>
      <rect id="square252" onclick="send()" class="square" x="396" y="540" width="30" height="30"/>
      <rect id="square253" onclick="send()" class="square" x="432" y="540" width="30" height="30"/>
      <rect id="square254" onclick="send()" class="square" x="468" y="540" width="30" height="30"/>
      <rect id="square255" onclick="send()" class="square" x="504" y="540" width="30" height="30"/>
      <rect id="square256" onclick="send()" class="square" x="540" y="540" width="30" height="30"/>
    </svg>
   
  </body>
</html>