<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Glitch!</title>
     <script src="https://cdn.ably.io/lib/ably.min-1.js"></script>
     <script src="script.js"></script>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>Ably Promises API demo with client side auth.</h1>
    </header>

    <main>
      <h2>Oh hi, let me just grab some history from Ably!</h2>
      <div id="history" class="historyContainer"></div>
    </main>
   
  </body>
</html>